.sidebar-home {
  background-color: rgb(5, 154, 84);
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 10px;
  color: rgb(247, 243, 238);
}
.sidebar-accordion {
  background-color: rgb(5, 154, 84);
  border-bottom: none;
}
.accordion-item {
  background-color: rgb(5, 154, 84);
}
.side-search-sec {
  background-color: rgb(5, 154, 84);
  padding: 20px 20px;
}
.side_search {
  padding: 20px 5px;
  display: flex;
  align-items: center;
  border-radius: 17px;
  height: 22px;
  color: gray;
  background-color: rgb(5, 154, 84);
  border: 1px solid rgb(254, 253, 253);
  /* margin: 10px 35px; */
}
.side_search > input {
  outline: none;
  background: none;
  border: none;
}
