.job-type-sec {
  border: 1px solid rgb(57, 218, 4);
  padding: 0px 0px 0px 30px;
  margin: 40px -10px 40px -21px;
  border-radius: 10px;
}
.job-types {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.job-type {
  color: rgb(41, 39, 39);
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  border: 1px solid rgb(195, 195, 195);
  width: 120px;
  height: 40px;
  border-radius: 10px;
  padding: 0 5px;
  margin-left: 0px;
}
.dep-types {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.dep-type {
  color: rgb(41, 39, 39);
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  border: 1px solid rgb(195, 195, 195);
  width: 120px;
  height: 40px;
  border-radius: 10px;
  padding: 0 5px;
  margin-left: -50px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  border: 1px solid rgb(195, 195, 195);
  width: 110px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
}
.available {
  height: 312px;
  border: 1px solid green;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 30px;
  margin-right: -14px;
  background-color: green;
}

/* Jobs Title */
.Title-Jobs {
  border: 1px solid rgb(218, 218, 218);
  border-radius: 10px;
  border-collapse: collapse;
  border-spacing: 10px 10px;
}
.job-title {
  margin-left: 20px;
}
.tab-icon {
  position: relative;
  float: right;
  margin-right: 30px;
  align-items: center;
  padding-bottom: 50px;
  margin-top: -35px;
}

.calender-button {
  display: flex;
  justify-content: space-around;
  margin-top: -30px;
}
.calender-button button {
  color: aliceblue;
  background-color: green;
  border: none;
  padding: 7px 15px;
  margin: 2px;
  border-radius: 5px;
  margin-top: -40px;
}
.title-icon {
  display: flex;
  justify-content: space-evenly;
  float: right;
  margin-right: 30px;
  align-items: center;
  padding-bottom: 50px;
  margin-top: 40px;
}
.box-1 {
  border-bottom: 1px solid gray;
  margin-bottom: 30px;
  margin-top: 60px;
}
.box-2 {
  border-bottom: 1px solid gray;
  margin-bottom: 30px;
  margin-top: 60px;
}
.box-3 {
  border-bottom: 1px solid gray;
  margin-bottom: 30px;
  margin-top: 60px;
}
.single-icon:hover{
  transform: scale(1.2, 1.2);
  cursor: pointer;
}

/* Pagination */
.paginat {
  padding-top: 80px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
