.job-type-sec {
  border: 1px solid rgb(5, 154, 84);
  padding: 0px 0px 0px 30px;
  margin: 40px -10px 40px -21px;
  border-radius: 10px;
}
.job-types {
  display: flex;
  align-items: center;
}
.job-type {
  color: rgb(41, 39, 39);
  display: flex;
  margin-right: 10px;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  border: 1px solid rgb(195, 195, 195);
  width: 120px;
  height: 40px;
  border-radius: 10px;
  padding: 0 5px;
  cursor: pointer;
}
.close-icon:hover{
  transition: width .2s, height .2s, transform 2s;
  transform: rotate(90deg);
}
.add-icon:hover{
  transition: width .2s, height .2s, transform 2s;
  transform: rotate(100deg);
}
.dep-types {
  display: flex;
  align-items: center;
}
.dep-type {
  color: rgb(41, 39, 39);
  display: flex;
  margin-right: 10px;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  border: 1px solid rgb(195, 195, 195);
  width: 120px;
  height: 40px;
  border-radius: 10px;
  padding: 0 5px;
  cursor: pointer;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(5, 154, 84);
  width: 110px;
  height: 40px;
  border-radius: 7px;
  cursor: pointer;
}
.available {
  height: 340px;
  margin: -1px 0px;
  border: 1px solid rgb(5, 154, 84);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 20px;
  margin-right: -14px;
  background-color: rgb(5, 154, 84);
}
.available-Button{
  font-weight: 400px;
  font-size: 14;
  background-color: rgb(5, 154, 84);
  border: .8px solid whitesmoke;
  border-radius: 10px;
  text-align: center;
  padding: 2px 0px 2px 0px;
  margin: 0px 70px 0px 70px;
}
.available-Button Button{
  color: white;
  align-items: center;
}

/* Jobs Title */
.Title-Jobs {
  border: 1px solid rgb(218, 218, 218);
  border-radius: 10px;
  border-collapse: collapse;
  border-spacing: 10px 10px;
}
.job-title {
  margin-left: 20px;
}
.tab-icon {
  position: relative;
  float: right;
  margin-right: 30px;
  align-items: center;
  padding-bottom: 50px;
  margin-top: -35px;
}

.calender-button {
  display: flex;
  justify-content: space-around;
  margin-top: -30px;
}
.calender-button button {
  color: aliceblue;
  background-color: rgb(5, 154, 84);
  border: none;
  padding: 7px 15px;
  margin: 2px;
  border-radius: 5px;
  margin-top: -40px;
}
.full-active {
  font-size: 12px;
  font-weight: 200;
}
.full-active:hover {
  cursor: pointer;
  transform: scale(1, 1.1);
}
.title-icon {
  display: flex;
  justify-content: space-evenly;
  float: right;
  margin-right: 30px;
  align-items: center;
  padding-bottom: 50px;
  margin-top: 40px;
}
.title-footers {
  display: flex;
}
.title-footer {
  background-color: rgb(246, 246, 246);
  color: rgb(144, 147, 149);
  border: hidden;
  border-radius: 10px;
  padding: 4px 7px;
  font-size: 11px;
  margin-right: 10px;
}
.box-1 {
  border-bottom: 1px solid gray;
  margin-bottom: 30px;
  margin-top: 60px;
}
.box-2 {
  border-bottom: 1px solid gray;
  margin-bottom: 30px;
  margin-top: 60px;
}
.box-3 {
  border-bottom: 1px solid gray;
  margin-bottom: 30px;
  margin-top: 60px;
}
.single-icon:hover {
  transform: scale(1.2, 1.2);
  cursor: pointer;
}

/* Pagination */
.paginat {
  padding-top: 80px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Responsiveness */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .Button {
    background-color: black;
    margin-left: 96;
  }
}
